:root {
  --clr-red: #ff8080;
  --clr-green: #80ff80;
  --clr-blue: #8080ff;
  --clr-gray: hsl(0, 0%, 75%);
  --clr-form: var(--clr-blue);
}

.clr {
  &-green {
    color: var(--clr-green);
  }
  &-red {
    color: var(--clr-red);
  }
  &-gray {
    color: var(--clr-gray);
  }
}

html {
  font: 62.5% arial, 'helvetica', sans-serif;
}

body {
  margin: 0;
  background: #121314;
  color: white;
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  place-items: center;
}

.container {
  display: grid;
  grid-template-rows: .5fr 1fr .5fr;
  place-items: center;
  gap: 1rem;
}

.slider-wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2.4rem 1fr 2.4rem;
  gap: 1.5rem;
  align-self: flex-end;
  place-items: center;
  width: 100%;
  padding-inline: 1.5rem;
}

#sliderToggle {
  appearance: none;
  margin: 0;
  color: var(--clr-form);
  background-color: transparent;
  font-size: 1.8rem;
  width: 1em;
  height: 1em;
  border: 0.25rem solid currentColor;
  border-radius: 0.15rem;
  cursor: pointer;
  place-content: inherit;

  display: grid;
  place-content: center;
  position: relative;

  transition: background-color 128ms ease-in;

  &::before {
    content: '';
    position: absolute;
    inset: 0.1em;
    background-color: white;

    transition: opacity 128ms ease-in;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    rotate: 5deg;
    opacity: 0;
  }

  &:checked {
    background-color: currentColor;
    &::before {
      opacity: 1;
    }
  }
}

#sliderToggleLabel {
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

#sliderToggle:checked ~ #sliderToggleLabel {
  display: none;
}

#sliderToggle:checked ~ #slider {
  display: block;
  visibility: visible;
}

#slider {
  --bg-clr: hsl(0, 0%, 90%);

  display: none;

  width: 100%;
  position: relative;
  appearance: none;
  height: 0.6rem;
  background-color: var(--bg-clr);
  border-radius: 0.6rem;

  &::-webkit-slider-thumb {
    appearance: none;
    box-sizing: border-box;
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background: var(--clr-form);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    appearance: none;
    box-sizing: border-box;
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background: var(--clr-form);
    cursor: pointer;
  }

  &::-ms-thumb {
    appearance: none;
    box-sizing: border-box;
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background: var(--clr-form);
    cursor: pointer;
  }

  &:active::-webkit-slider-thumb {
    background-color: var(--bg-clr);
    border: 0.3rem solid var(--clr-form);
  }

  &:active::-moz-range-thumb {
    background-color: var(--bg-clr);
    border: 0.3rem solid var(--clr-form);
  }

  &:active::-ms-thumb {
    background-color: var(--bg-clr);
    border: 0.3rem solid var(--clr-form);
  }
}

#clock {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.slots {
  border-block: 0.5rem solid var(--clr-blue);
  width: 768px;
}

.slot {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 2.4rem 2.4rem 1fr 1fr 2.4rem;
  gap: 1.5rem;
  font-size: 2rem;
  align-items: center;
  &:nth-of-type(odd) {
    background: #1a1a1a;
  }
  &:nth-of-type(even) {
    background: #262626;
  }
}

.slot-isActive {
  appearance: none;
  margin: 0;
  box-sizing: border-box;

  font: inherit;
  color: currentColor;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.3rem solid currentColor;
  border-radius: 50%;

  cursor: pointer;
  position: relative;
  display: grid;
  justify-self: center;
  place-content: center;

  transition: border-color 128ms ease-in-out;

  &::before {
    content: '';
    position: absolute;
    inset: 20%;
    border-radius: inherit;
    transform: scale(0);
    transition: 128ms transform ease-in-out;
    background-color: var(--clr-form);
  }

  &:checked {
    border-color: var(--clr-form);
    &::before {
      transform: scale(1);
    }
  }

  &:focus-visible {
    outline: max(1px, 0.2rem) solid currentColor;
    outline-offset: max(1px, 0.2rem);
  }
}

.slot-name {
  color: var(--clr-gray);
  transition: color 128ms ease-in-out;
}

.slot-isActive:checked ~ .slot-name {
  color: white;
}

.slot-value {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-self: flex-end;
  &::after {
    content: '—';
    color: var(--clr-gray);
    font-size: 0.75em;
  }
  &[data-increasing='true']::after {
    content: '▲';
    color: var(--clr-green);
  }
  &[data-increasing='false']::after {
    content: '▼';
    color: var(--clr-red);
  }
}

.slot-icon {
  justify-self: center;
  image-rendering: pixelated;
}

.slot-isBest {
  justify-self: center;
  width: 75%;
  &[data-is-best='false'] {
    visibility: hidden;
  }
}

.unsocket-btn {
  margin-top: 1rem;
  align-self: flex-start;
  box-sizing: border-box;
  font: inherit;
  font-size: 2rem;
  font-weight: 700;
  color: #121314;
  background: var(--clr-form);
  padding: 0.5rem 1.5rem;
  border: 0.33rem solid var(--clr-form);
  border-radius: 0.33rem;
  cursor: pointer;
  transition: filter 128ms ease, width 128ms ease;
  width: 50%;

  &:hover,
  &:focus-visible {
    filter: brightness(75%);
  }
  &:active {
    translate: 0 0.1rem;
  }
}

@media screen and (max-width: 768px) {
  .slots {
    min-width: initial;
    width: 100vw;
    max-width: initial;
  }
  .unsocket-btn {
    width: 100%;
  }
}

@media (prefers-contrast: more) {
  .slot-isActive::before,
  #sliderToggle::before {
    background-color: canvasText;
  }
}
