:root {
  --clr-red: #ff8080;
  --clr-green: #80ff80;
  --clr-blue: #8080ff;
  --clr-gray: #808080;
}

.clr {
  &-green {
    color: var(--clr-green);
  }
  &-red {
    color: var(--clr-red);
  }
  &-gray {
    color: var(--clr-gray);
  }
}

html {
  font: 62.5% arial, 'helvetica', sans-serif;
}

body {
  margin: 0;
  background: #121314;
  color: white;
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  place-items: center;
}


.timeOverride {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

#overrideTime {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.slots {
  border-block: 0.5rem solid var(--clr-blue);
  width: 768px;
}

.slot {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 2.4rem 2.4rem 1fr 1fr 2.4rem;
  gap: 1.5rem;
  font-size: 2rem;
  align-items: center;
  &:nth-of-type(odd) {
    background: #1a1a1a;
  }
  &:nth-of-type(even) {
    background: #262626;
  }
}

.slot-isActive {
  appearance: none;
  margin: 0;
  box-sizing: border-box;

  font: inherit;
  color: currentColor;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.3rem solid currentColor;
  border-radius: 50%;

  cursor: pointer;
  position: relative;
  display: grid;
  justify-self: center;
  place-content: center;

  &::before {
    content: '';
    position: absolute;
    inset: 20%;
    border-radius: inherit;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--clr-blue);
  }

  &:checked::before {
    transform: scale(1);
  }

  &:focus-visible {
    outline: max(1px, 0.2rem) solid currentColor;
    outline-offset: max(1px, 0.2rem);
  }
}

.slot-name {
  color: var(--clr-gray);
}

.slot:has(.slot-isActive:checked) .slot-name {
  color: white;
}

.slot-value {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-self: flex-end;
  &::after {
    content: '—';
    color: var(--clr-gray);
    font-size: 0.75em;
  }
  &[data-increasing='true']::after {
    content: '▲';
    color: var(--clr-green);
  }
  &[data-increasing='false']::after {
    content: '▼';
    color: var(--clr-red);
  }
}

.slot-icon {
  justify-self: center;
  image-rendering: pixelated;
}

.slot-isBest {
  justify-self: center;
  width: 75%;
  &[data-is-best='false'] {
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .slots {
    min-width: initial;
    width: 100vw;
    max-width: initial;
  }
}

@media (prefers-contrast: more) {
  .slot-isActive::before {
    background-color: canvasText;
  }
}
